<div>
  <a
    href="https://vitejs.dev"
    target="_blank"
  >
    <img
      data-limbo-src="{{model.viteLogo}}"
      class="logo"
      alt="Vite logo"
    />
  </a>
  <a
    href="https://www.typescriptlang.org/"
    target="_blank"
  >
    <img
      data-limbo-src="{{model.typescriptLogo}}"
      class="logo vanilla"
      alt="TypeScript logo"
    />
  </a>
  <h1>Vite + TypeScript + Limbo</h1>
  <div class="card">
    <button
      id="counter"
      type="button"
    >
      Count is {{model.counter}}
    </button>
  </div>
  <p class="read-the-docs">Click on the Vite and TypeScript logos to learn more</p>
  <p>This is the count value: {{model.counter}}</p>


  <div>
    <button type="button" id="btn-show-aaa">Show aaa</button>
    <button type="button" id="btn-show-bbb">Show bbb</button>
    <button type="button" id="btn-show-default">Show default</button>
  </div>
  
  <div data-limbo-switch="{{model.xpto}}">
    <div data-limbo-switch-case="aaa">
      <div id="NestedComponent-aaa" data-limbo-component="NestedComponent" data-limbo-model="{{model.nested}}"></div>  
    </div>
    <div data-limbo-switch-case="bbb" >
      <div id="NestedComponent-bbb" data-limbo-component="NestedComponent" data-limbo-model="{{model.nested}}"></div>  
    </div>
    <div data-limbo-switch-default >
      <div id="NestedComponent-default" data-limbo-component="NestedComponent" data-limbo-model="{{model.nested}}"></div>  
    </div>
  </div>
</div>
